body
{
    margin: 0;
    font-family: monospace;
    font-weight: bold;
}
.base-container
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.header-container
{
    background-color: white;
    grid-column:2/3;
    grid-row: 1/2; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    align-items: center;
}
.side-bar
{
    padding: 10px;
    color: white;
    background-color:#60a5fa;
    grid-column: 1/2;
    grid-row: 1/3;
}

.main-content-container
{
    padding: 10px;
    background-color: #e7e5e4;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

ul{
    list-style-type: none;
}
.top-header
{
display: grid;
grid-template-columns: 7fr 3fr;
}
.bottom-header{
    display: grid;
grid-template-columns: 3fr 2fr;
}

.quick-links,.interaction-buttons
{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:8px;
}

button
{
background-color:#60a5fa ;
color: white;
border: 0;
border-radius: 30px;
width: 80px;
height: 40px;
}
input
{
    background-color:#cbd5e1;
    width: 80%;
    border-radius: 10px;
}
img
{
    width: 20px;
    height: 20px;
}

.leftside-item-container
{
margin:10px;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,1fr);
gap: 20px;
}
.leftside-item
{
    background-color: white;
    border-left: 4px solid yellow;
    padding: 5px;
    border-radius: 3px;
    box-shadow:2px 2px black;
    position: relative;
}
.subcontent
{
    font-size: 8px;
    font-weight: lighter;    
    color: rgb(75, 70, 70);
}

.announcements
{
    margin: 2px;
    padding: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,80px);
    border-radius: 4px;
    box-shadow: 2px 2px black;
}
button:hover
{
    width: 82px;
    height: 42px;
}

.trending-item-container
{
    margin:2px;
    padding: 8px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,60px);  
    gap: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}
